<template>
    <div class="mt-3" >
      <b-table striped hover :items="item1" width="200px" v-model="item1" :fields="fields">
      </b-table>
    </div>
  </template>
<script setup>
// import { ref } from 'vue'

// const fields = ref(['Day', 'subject1', 'subject2', 'subject3', 'room'])
// const item1 = ref(
//   [
//     { isActive: true, day: 'Monday', subject1: 'English', subject2: 'English', subject3: 'English', room: 'Room 101' },
//     { isActive: true, day: 'Monday', subject1: 'History', subject2: 'English', subject3: 'English', room: 'Room 102' },
//     { isActive: true, day: 'Monday', subject1: 'English', subject2: 'English', subject3: 'English', room: 'Room 102' },
//     { isActive: true, day: 'Monday', subject1: 'English', subject2: 'English', subject3: 'English', room: 'Room 103' },
//     { isActive: true, day: 'Monday', subject1: 'History', subject2: 'English', subject3: 'English', room: 'Room 101' }
//   ]
// )

// items2: [
//   { isActive: true, No: 1, subject: 'Art', date: 'Monday', time: '10:00 - 12:00', room: 'Room 101' },
//   { isActive: true, No: 2, subject: 'Music', date: 'Wednesday', time: '13:00 - 14:00', room: 'Room 103' },
//   { isActive: true, No: 3, subject: 'Music', date: 'Wednesday', time: '09:00 - 12:00', room: 'Room 102' },
//   { isActive: true, No: 4, subject: 'Music', date: 'friday', time: '10:00 - 12:00', room: 'Room 101' },
//   { isActive: true, No: 5, subject: 'Art', date: 'friday', time: '13:00 - 14:00', room: 'Room 102' },
//   { isActive: true, No: 6, subject: 'Art', date: 'friday', time: '09:00 - 12:00', room: 'Room 103' }
// ]

</script>
