<template>
  <div class="container">
      <h3 class="p-3 text-center">Classes</h3>
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Subject</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Room</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="item in items" :key="item.id">
                  <td>{{ item.No }}</td>
                  <td>{{ item.subject }}</td>
                  <td>{{ item.date }}</td>
                  <td>{{ item.time }}</td>
                  <td>{{ item.room }}</td>

              </tr>
          </tbody>
      </table>
  </div>
</template>
<script setup>
import { ref } from 'vue'
const items = ref(
  [
    { No: 1, subject: 'English', date: 'Monday', time: '10:00 - 12:00', room: 'Room 101' },
    { No: 2, subject: 'History', date: 'Monday', time: '13:00 - 14:00', room: 'Room 102' },
    { No: 3, subject: 'English', date: 'thursday', time: '09:00 - 12:00', room: 'Room 102' },
    { No: 4, subject: 'English', date: 'thursday', time: '10:00 - 12:00', room: 'Room 103' },
    { No: 5, subject: 'History', date: 'thursday', time: '13:00 - 14:00', room: 'Room 101' },
    { No: 6, subject: 'English', date: 'friday', time: '09:00 - 12:00', room: 'Room 103' }
  ]
)
</script>
