<template>
  <div class="hello" >
    <b-row class="no-gutters d-flex justify-content-center"> </b-row>
    <b-row align-h="end">
    <b-col cols="2">
    <div class="mt-3" >
    <b-button v-b-toggle.sidebar-right variant="outline-danger" class="pt-2 pb-2" center>Notification
      <b-icon :icon="'bell'" style="font-size: 13pt" ></b-icon>
    </b-button>
    <b-sidebar id="sidebar-right" title="Notifications" right shadow>
      <div class="px-3 py-2">
        <b-list-group >
        <b-list-group-item>xxx</b-list-group-item>
        <b-list-group-item>xxx</b-list-group-item>
        <b-list-group-item>xxx</b-list-group-item>
        <b-list-group-item>xxx</b-list-group-item>
        <b-list-group-item>xxx</b-list-group-item>
        <b-list-group-item>xxx</b-list-group-item>
        <b-list-group-item>xxx</b-list-group-item>
      </b-list-group>
      </div>
    </b-sidebar>
    </div>
    </b-col>
  </b-row>

    <b-img src="../assets/homepagee.png" width="1050px" class="pt-2 pb-2" center></b-img>
  </div>
</template>
<style>
  .list {
    padding-left: 10pt;
  }
</style>
