<template>
  <div class="mt-3" style="min-width: 70% !important">
    <b-text id="titleText" >Register Classes</b-text>
    <b-list-group>
      <b-list-group-item disabled>
        <h5>Classes1</h5>
        <small>xxx-x-xxxxx-x</small>
      </b-list-group-item>
      <b-list-group-item>
        <h5>Class2</h5>
        <small>xxx-x-xxxxx-x</small>
      </b-list-group-item>
      <b-list-group-item>
        <h5>Class3</h5>
        <small>xxx-x-xxxxx-x</small>
      </b-list-group-item>
      <b-list-group-item>
        <h5>Class4</h5>
        <small>xxx-x-xxxxx-x</small>
      </b-list-group-item>
    </b-list-group>
    <div class="mt-3">
      <b-button v-b-modal.modal-1 variant="success"
        >Register Class
        <!-- <b-icon icon="person-plus"></b-icon> -->
      </b-button>
      <b-modal id="modal-1" title="New Class">
        <form @submit="onSubmit" v-if="show">

          <b-form-group id="input-group-3" label="Subject 1" label-for="input-1">
            <b-form-select
              id="input-1"
              v-model="form.subject"
              :options="subject"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group id="input-group-2" label="Subject 2" label-for="input-2">
            <b-form-select
              id="input-2"
              v-model="form.subject"
              :options="subject"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group id="input-group-3" label="Subject 3" label-for="input-3">
            <b-form-select
              id="input-3"
              v-model="form.subject"
              :options="subject"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group id="input=group-4" label="Subject 4" label-for="input-4">
            <b-form-select
              id="input-4"
              v-model="form.subject"
              :options="subject"
              required
            ></b-form-select>
          </b-form-group>

          <!-- <b-form-group label="Address">
            <b-form-textarea
              id="textarea"
              v-model="text"
              placeholder="Enter Address"
              rows="3"
              max-rows="6"
            >
            </b-form-textarea>
          </b-form-group> -->
        <b-button @click="showMsgBox" type="submit" variant="primary">Submit</b-button>
        </form>
      </b-modal>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        name: '',
        email: '',
        subject: null,
        IdNumber: ''
      },
      subject: [{ text: 'Select One', value: null }, 'คณิตศาสตร์', 'วิทยาศาสตร์', 'ศิลปะ', 'สังคมศาสตร์'],
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    showMsgBox () {
      this.boxTwo = ''
      this.$bvModal.msgBoxOk('successfully', {
        title: 'Confirmation',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'success',
        headerClass: 'p-2 border-bottom-0',
        footerClass: 'p-2 border-top-0',
        centered: true
      })
    }
  }
}
</script>
<style>
title {
  font-size: xx-large
}
</style>
