<template>
    <div class="mt-3" style="min-width: 70% !important">
      <b-img src="../assets/5.png" width="250px" class="pt-2 pb-2" center></b-img>
      <b-list-group>
        <b-list-group-item disabled>
          <h5>Classes1</h5>
          <small>xxx-x-xxxxx-x</small>
        </b-list-group-item>
        <b-list-group-item>
          <h5>Class2</h5>
          <small>xxx-x-xxxxx-x</small>
        </b-list-group-item>
        <b-list-group-item>
          <h5>Class3</h5>
          <small>xxx-x-xxxxx-x</small>
        </b-list-group-item>
        <b-list-group-item>
          <h5>Class4</h5>
          <small>xxx-x-xxxxx-x</small>
        </b-list-group-item>
      </b-list-group>
      <div class="mt-3">
        <b-button v-b-modal.modal-1 variant="success"
          >Register Class
          <!-- <b-icon icon="person-plus"></b-icon> -->
        </b-button>
        <b-modal id="modal-1" title="New Class">
          <form @submit="onSubmit" v-if="show">
            <b-form-group label="Name">
              <b-form-input
                id="name-input"
                v-model="name"
                required
                placeholder="Enter Class"
              ></b-form-input>
            </b-form-group>

            <b-form-group label="Email">
              <b-form-input
                id="email-input"
                type="email"
                required
                placeholder="Enter Class"
                v-model="form.email"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Sex" label-for="input-3">
              <b-form-select
                id="input-3"
                v-model="form.sex"
                :options="sex"
                required
              ></b-form-select>
            </b-form-group>

            <b-form-group label="Id Number Card">
              <b-form-input
                id="ID-Number-input"
                v-model="IdNumber"
                required
                placeholder="Enter ID Number Card"
              ></b-form-input>
            </b-form-group>

            <b-form-group label="Phone Number">
              <b-form-input
                id="Phone-Number-input"
                v-model="IdNumber"
                required
                placeholder="Enter Phone Number"
              >
              </b-form-input>
            </b-form-group>

            <b-form-group label="Address">
              <b-form-textarea
                id="textarea"
                v-model="text"
                placeholder="Enter Address"
                rows="3"
                max-rows="6"
              >
              </b-form-textarea>
            </b-form-group>
          <b-button @click="showMsgBox" type="submit" variant="primary">Submit</b-button>
          </form>
        </b-modal>
      </div>
    </div>
  </template>
<script>
export default {
  data () {
    return {
      form: {
        name: '',
        email: '',
        sex: null,
        IdNumber: ''
      },
      sex: [{ text: 'Select One', value: null }, 'Male', 'Female'],
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    showMsgBox () {
      this.boxTwo = ''
      this.$bvModal.msgBoxOk('successfully', {
        title: 'Confirmation',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'success',
        headerClass: 'p-2 border-bottom-0',
        footerClass: 'p-2 border-top-0',
        centered: true
      })
    }
  }
}
</script>
