<template>
  <div class="container">
      <h3 class="p-3 text-center">Classes</h3>
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>No.</th>
                  <th>Room</th>
                  <th>Class</th>
                  <th>Teacher</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="room in rooms" :key="room.id">
                  <td>{{ room.num }}</td>
                  <td>{{ room.room }}</td>
                  <td>{{ room.class }}</td>
                  <td>{{ room.teacher }}</td>

              </tr>
          </tbody>
      </table>
  </div>
</template>
<script setup>
import { ref } from 'vue'
const rooms = ref(
  [
    { num: 1, room: '101', class: 'm.4/1', teacher: 'Amelia' },
    { num: 2, room: '102', class: 'm.4/2', teacher: 'Olivia' },
    { num: 3, room: '103', class: 'm.4/3', teacher: 'Jessica' },
    { num: 4, room: '201', class: 'm.5/1', teacher: 'Megan' },
    { num: 5, room: '202', class: 'm.5/2', teacher: 'Oscar' },
    { num: 5, room: '202', class: 'm.5/3', teacher: 'James' }
  ]

)
</script>
