<template>
    <div class="user">
      <ul class="user">
        <li
          v-for="user in users"
          :key="user.title"
          class="user-item"
        >
            <h1>{{ user.email }}</h1>
        </li>
      </ul>
    </div>
  </template>
<script setup>

</script>
