<template>
    <div class="hello">
    <b-text>next level</b-text>
      <b-row class="no-gutters d-flex justify-content-center">
      </b-row>
      <b-img
        src="../assets/homepagee.png"
        width="1050px"
        class="pt-2 pb-2"
        center
      ></b-img>
    </div>
</template>
