<template>
  <div class="app-menu">
    <b-nav vertical>
      <b-nav-item style="font-size: 15pt" to="/Home">Home
        <b-icon :icon="'home'" style="font-size: 13pt"></b-icon>
      </b-nav-item>

      <b-nav-item @click="showForm = !showForm" style="font-size: 15pt">Teacher
        <!-- <b-icon :icon="'cash-coin'"></b-icon> -->
        <b-icon :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"></b-icon>
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="/Classes" style="font-size: 13pt">Classes
        <!-- <b-icon :icon="'arrow-left-right'" style="font-size: 13pt"></b-icon> -->
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="/Room" style="font-size: 13pt">Room
        <!-- <b-icon :icon="'box-arrow-in-down'" style="font-size: 13pt"></b-icon> -->
      </b-nav-item>

      <b-nav-item @click="showForm = !showForm" style="font-size: 15pt">Student
        <!-- <b-icon :icon="'cash-coin'"></b-icon> -->
        <b-icon :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"></b-icon>
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="/NewAccount" style="font-size: 13pt">Register Classess
        <!-- <b-icon :icon="'arrow-left-right'" style="font-size: 13pt"></b-icon> -->
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="/ClassesStudent" style="font-size: 13pt">Classes
        <!-- <b-icon :icon="'box-arrow-up'" style="font-size: 13pt"></b-icon> -->
      </b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="/User" style="font-size: 13pt">TestUser
        <!-- <b-icon :icon="'box-arrow-up'" style="font-size: 13pt"></b-icon> -->
      </b-nav-item>
      <b-button variant="light" v-if="isLogin" @click="logout()">Logout</b-button>
      <!-- </b-card> -->

    </b-nav>

  </div>
</template>
<style>
.app-menu {
  background-color: rgb(69, 80, 126);
  width: 270px;
  height: 130%;
  font-size: 10pt;
}

.sub-menu {
  padding-left: 10pt;
}

.nav-link {
  color: white;
  text-align: left;
}

.nav-link:hover {
  color: rgb(221, 255, 109);
}
</style>
<script>
export default {
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  },
  computed: {
    isLogin () {
      console.log(this.$store.getters['auth/isLogin'])
      return this.$store.getters['auth/isLogin']
    }
  },
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrudExample: false
    }
  }
}
</script>
