<template>
  <div>
    <b-navbar toggleable="sm" type="light" style="background-color: #fff3b0">
      <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>

      <b-img src="../assets/logostut.png" width="100px"></b-img>
      <b-text id="titleText">Teacher and Student System</b-text>
      <b-collapse id="nav-text-collapse" is-nav>
      </b-collapse>

      <b-col cols="7"></b-col>
          <b-col cols="0"  v-if="isLogin">
            <div style="width: 40px; height: 40px;">
              <b-icon :icon="'person-circle'" style="width: 40px; height: 40px;"></b-icon>
            </div>
        </b-col>
        <b-col  v-if="isLogin">
          <b-row>&nbsp;&nbsp;62160319</b-row>
          <b-row>&nbsp;&nbsp;Areeya Dengjaroen</b-row>
        </b-col>
    </b-navbar>
  </div>
</template>
<script>
export default {
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
<style>

</style>
