<template>
  <div id="app">
    <head>
 <title>Your new name</title>
    </head>
    <b-container fluid>
      <b-row class="no-gutters bg-danger">
        <b-col><NavBar /></b-col>
      </b-row>
      <b-row class="no-gutters">
        <b-col cols="2"><Menu /></b-col>
        <b-col>
          <b-row class="no-gutters d-flex justify-content-center vh-100">
            <router-view/>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import NavBar from './components/NavBar.vue'
import Menu from './components/Menu.vue'
export default {
  components: {
    NavBar,
    Menu
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: white;
}

#nav a {
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}

</style>
